body {
    margin: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    background: #F2F2F2;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: "PT Sans", "Arial" sans-serif;
    background-color: white;
}
           /* Главная */
.header {
    width: 100%;

}
.header-top {
    height: 56px;
}
.logo {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;  
}
.header-top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-top a {
    color: black;
    text-decoration: none;
}
.header-top a:hover {
    color: #669EC0;
}
.header-image {
    width: 100%;
    height: 509px;

}
.title-main {
    display: flex;
    flex-direction: column;
    margin-top: 16.5px;
    align-items: center;
}
.title-main h2 {
    font-weight: bold;
    font-size: 21px;
    width: 470px;
    height: 80px;
    text-transform: uppercase;
}
.title-main p {
    font-size: 14px;
    text-transform: uppercase;
}
.list-advantages {
    list-style-type: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 330px 256px 256px;
    
}

.real-town {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #81B3D2;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first-photo-advantages {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.house {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.eat {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.souvenirs {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.second-photo-advantages {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.devils-bridge {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #81B3D2;
    color: white;
}
.area {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: #EEEEEE;    
}
.beautiful-road {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;  
    background-color: #EEEEEE;  
}  
.tourists {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4; 
    background-color: #EEEEEE;   
}  

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contacts {
   display: flex;
   flex-direction: column;
   align-items: start;
}
.social-networks li {
    list-style-type: none;
}
.social-networks {
    display: flex;
    align-items: center;
}
.author {
    display: flex;
    align-items: end;
    flex-direction: row;
}

                   /* Каталог */

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.infrastructure {
    display: flex;
    flex-direction: column;
}
.housing {
    display: flex;
    flex-direction: column;
}
.cost {
    display: flex;
    flex-direction: column;
}
