body {
    margin: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    background: #F2F2F2;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    background: #f2f2f2;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: "PT Sans", "Arial" sans-serif;
    background-color: white;
}
           /* Главная */
.header {
    width: 100%;

}
.header-top {
    height: 56px;
}
.logo {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;  
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top li {
    margin-top: 17px;
    height: 26px;
    padding: 0;
}
.title-font {
    display: flex;
}
.left {
    padding-left: 72px;
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 72px;
}

.header-top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.header-top a {
    color: black;
    text-decoration: none;
}
.header-top a:hover {
    color: #669EC0;
}
.top-image {
    padding-top: 76px;
    padding-bottom: 80px;
    padding-left: 371.38px;
    padding-right: 371.96px;
}

.header-image {
    height: 508px;
    background: #517ca4 url("../img/background-photo.jpg") no-repeat 50% 21%;
}
.top-image::after {
    left: 0;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background: url("../img/mask-header.png") no-repeat 50% 50%;
}
.title-main {
    display: flex;
    flex-direction: column;
    margin-top: 16.5px;
    align-items: center;
}
.title-main h2 {
    font-weight: bold;
    font-size: 21px;
    width: 470px;
    height: 80px;
    text-transform: uppercase;
}
.title-main p {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 51px;
}
.list-advantages {
    list-style-type: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 330px 256px 256px;
    
}

.real-town {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #81B3D2;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first-photo-advantages {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.house {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.house img {
    margin-left: auto;
    margin-right: auto;
}
.eat {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.souvenirs {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-photo-advantages {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.devils-bridge {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #81B3D2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.area {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: #EEEEEE; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.beautiful-road {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;  
    background-color: #EEEEEE; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}  
.tourists {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4; 
    background-color: #EEEEEE;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}  
.interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contacts {
   display: flex;
   flex-direction: column;
   align-items: start;
}
.social-networks li {
    list-style-type: none;
}
.social-networks {
    display: flex;
    align-items: center;
}
.author {
    display: flex;
    align-items: end;
    flex-direction: row;
}
                    /* форма */
    
.search-form-container {
    width: 568px;
    margin: 0 auto;
}

.search-btn {
    display: block;
    width: 568px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    background: #766357;
    text-align: center;
}

.search-form {
    top: 85px;
    left: 0;
    width: 568px;
    padding: 57px 55px;
    margin: 0 auto;
    line-height: 26px;
    text-align: left;
    font-weight: bold;
    background: #ffffff;
    z-index: 1;
}
.sreach-form .form-line:nth-child(2) {
    margin-bottom: 30px;
}

.search-form label {
    float: left;
    padding: 5px 0 7px;
}

.search-form .field {
    float: right;
    line-height: 26px;
    padding: 4px 15px 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #f2f2f2;
}
.search-form .field:hover {
    background: #ebebeb;
}

.search-form .field:focus {
    background: #ffffff;
    outline: 2px solid #e5e5e5;
}

.search-form .date {
    width: 346px;
    padding-right: 37px;
}

.search-form .icon-calendar {
    position: absolute;
    right: 6px;
    bottom: 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 38px;
    color: #c2c2c2;
    cursor: pointer;
}

.search-form .icon-calendar:hover {
    color: #000000;
}

.search-form .icon-calendar:active {
    color: #81b3d2;
}

.search-form .half-width {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}
.half-width .unit {
    width: 114px;
    padding-left: 55px;
    padding-right: 50px;
}

.half-width:first-child .unit {
    margin-right: 3px;
}

.half-width:last-child label {
    margin-left: 50px;
}

.half-width .unit-container {
    position: relative;
}

.unit-container .btn {
    position: absolute;
    top: 0;
    padding: 6px 9px;
    line-height: 26px;
    color: #a9a9a9;
    background: #f2f2f2;
    border: none;
    outline: none;
}

.unit-container .btn:hover {
    color: #000000;
}

.unit-container .btn:active {
    color: #81b3d2;
}

.unit-container .minus-btn {
    left: 112px;
}

.unit-container .plus-btn {
    right: 0;
}

.half-width:first-child .plus-btn {
    right: 3px;
}

.half-width:last-child .minus-btn {
    left: 115px;
}

.search-form .find-btn {
    display: block;
    width: 458px;
    margin: 0 auto;
    margin-top: 54px;
    padding: 14px 10px 15px;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background: #81b3d2;
    border: none;
    outline: none;
}

.search-form .find-btn:hover {
    background: #669ec0;
}

.search-form .find-btn:active {
    background: #5496bd;
}

.search-form .find-btn:active span {
    opacity: 0.3;
}

                   /* Каталог */

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("../img/background-catalog.jpg");
    background-color: #517ca4;
    color: white;
}
.infrastructure {
    display: flex;
    flex-direction: column;
}
.housing {
    display: flex;
    flex-direction: column;
}
.cost {
    display: flex;
    flex-direction: column;
}
.amara-resort {
    display: flex;
}
.results h3 {
    font-size: 21px;
}
.results p {
    font-size: 14px;
}
.desert-quail-inn {
    display: flex;
}
.villas-at-poco-diablo {
    display: flex;
}
.more-details {
    color: white;
    background-color: #81B3D2;
    width: 110px;
    height: 27px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.to-book {
    color: white;
    background-color: #766357;
    width: 142px;
    height: 27px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.rating {
    background: #F2F2F2;
    width: 110px;
    height: 27px;
    display: flex;
    color: #666666;
}
.rating p {
    margin: auto;
}
.search-results {
    display: flex;
}
.search-results button {
    outline: none;
    border: 0;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
}
.found {
    font-weight: bold;
    font-size: 21px;
}
